[Unit]
Description=Test service to verify security directives


[Service]

Type=simple
ExecStart=/user/local/bin/test_app

#Sandboxing option
#End Sandboxing

[Install]
WantedBy=multi-user.target
